.fuente{
    font-family: 'pacific', cursive;
    
}
.fondo{
    background: rgb(252, 165, 208);
background: linear-gradient(90deg, rgb(143, 173, 228) 0%, rgba(219, 183, 223, 0.978) 35%, rgb(217, 192, 235) 100%);
}
.fondobanner{

    background-image: url("img/fondo.jpg");
        height: 550px;
        background-attachment: fixed;
        background-position: top center;

    }
    

